#demo {
    background-color: white;
    color: black;
    padding: 10px;
    font-family: Arial;
    text-align: left;
    font-size: 15px;
  }

th, td {
    border: 1px solid black;
}

table{
    margin-right: auto;
    margin-left: auto;
}